* {
  box-sizing: border-box;
  margin: 0px;
  padding: -px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

nav ul {
  display: flex;
  gap: 1rem;
  list-style: none;
  background-color: antiquewhite;
  padding: 20px;
}
.footerText {
  flex: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Texts {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  background-color: antiquewhite;
}
.yasContainer {
  display: flex;
  float: left;
  flex-direction: row;
  margin-right: auto;
  margin-left: auto;
  max-width: 20%;
}
.Texts {
  display: flex;
  justify-content: space-evenly;
  background-color: antiquewhite;
  li {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.message {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: antiquewhite;
  padding: 20px;
  width: 400px;
  height: 200px;
  overflow-wrap: break-word;
}
.ChatBTN {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(180 180 229);
  align-items: end;
}
.Pricingbutton {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: end;
  width: 55px;
  height: 40px;
}
@media screen and (max-width: 550px) {
  nav ul {
    flex-direction: column;
  }
}

@media screen and (max-width: 370px) {
  .footer-links {
    flex-direction: column;
  }
}

@media screen and (max-width: 410px) {
  .footerText {
    flex-shrink: auto;
  }
}
@media screen and (max-width: 410px) {
  .Pricingbutton {
    flex-direction: column;
  }
}
