* {
  box-sizing: border-box;
  margin: 0px;
  padding: -px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

nav ul {
  display: flex;
  gap: 3.5rem;
  list-style: none;
  border-color: black;
  background-color: antiquewhite;
  padding: 18px;
  font-size: large;
  .li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
}
.footerText {
  flex: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Texts {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  background-color: antiquewhite;
}
.yasContainer {
  display: flex;
  float: left;
  flex-direction: row;
  margin-right: auto;
  margin-left: auto;
  max-width: 20%;
}
.Texts {
  display: flex;
  justify-content: space-evenly;
  background-color: antiquewhite;
  li {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  .p {
    font-size: large;
  }
}
.MaxPatch {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  float: left;
  border: 10px;
  background-color: antiquewhite;
  align-items: center;
}
.MaxPatch-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  line-height: 2;
  float: right;
  border: 10px;
  background-color: antiquewhite;
  padding: 10px;
}

.message {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: antiquewhite;
  padding: 20px;
  width: 400px;
  height: 200px;
  overflow-wrap: break-word;
}
.ChatBTN {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(180 180 229);
  align-items: end;
}
.Pricingbutton {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 100px;
  height: 60px;
  margin: 15px;
  justify-content: space-around;
}

#bottone1 {
  padding-left: 9px;
  padding-right: 9px;
  padding-bottom: 9px;
  padding-top: 11px;
  border-radius: 9px;
  background: #db8552;
  border: none;
  margin: 11px;
  font-family: inherit;
  text-align: center;
  cursor: pointer;
  transition: 0.4s;
}
.priceSize {
  font-size: 20px;
}
#bottone1:hover {
  box-shadow: 7px 5px 56px -14px #c3d900;
}

#bottone1:active {
  transform: scale(0.97);
  box-shadow: 7px 5px 56px -10px #c3d900;
}

@media screen and (max-width: 550px) {
  nav ul {
    flex-direction: column;
  }
}

@media screen and (max-width: 370px) {
  .footer-links {
    flex-direction: column;
  }
}

@media screen and (max-width: 410px) {
  .footerText {
    flex-shrink: auto;
  }
}
@media screen and (max-width: 410px) {
  .Pricingbutton {
    flex-direction: column;
  }
}
