* {
  box-sizing: border-box;
  margin: 0px;
  padding: -px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

nav ul {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  border-color: black;
  background-color: antiquewhite;
  padding: 12px;
  font-size: large;
  .li {
    display: flex;
   
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
}

.Texts {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  background-color: antiquewhite;
}
.yasContainer {
  display: flex;
  float: left;
  flex-direction: row;
  margin-right: auto;
  margin-left: auto;
  max-width: 20%;
}
.Texts {
  display: flex;
  justify-content: space-evenly;
  background-color: antiquewhite;
  flex-wrap: wrap;
  li {
    flex: 1 0 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    ul{
      padding:0;
    }
  }
  .p {
    font-size: large;
  }
}
.MaxPatch {
  flex-wrap: wrap;
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
  justify-content: flex-end;
  border: 10px;
  background-color: antiquewhite;
  align-items: center;
  .ImageWrapper{
flex: 1 0 200px
  }
  p{
    flex: 1 1 200px;
  }
}
.MaxPatch-text {
  display: flex;
  background-color: antiquewhite;
  padding: 30px;
}

.message {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: antiquewhite;
  padding: 20px;
  width: 400px;
  height: 200px;
  overflow-wrap: break-word;
}
.ChatBTN {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: end;
  border-radius: 18px;
  margin: 13px;
}
.Pricingbutton {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 100px;
  height: 60px;
  margin: 15px;
  justify-content: space-around;
}

#bottone1 {
  padding-left: 9px;
  padding-right: 9px;
  padding-bottom: 9px;
  padding-top: 11px;
  border-radius: 9px;
  background: #db8552;
  border: none;
  margin: 11px;
  font-family: inherit;
  text-align: center;
  cursor: pointer;
  transition: 0.4s;
}

.priceSize {
  font-size: 20px;
}
.NavLink{
  padding: 8px 12px;
    border-radius: 12px;
}
.NavLink a{
  text-decoration: none;
  color: black;
}
.NavLink:hover {
  box-shadow: -8px 9px 33px #9f9898;
  transform: scale(1.05);
  background-color: #ede6e6c4;
  transition: all 530ms ease-in-out;
 }

.fab-fa-instagram{
  color: #714618;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
}

 @media screen and (max-width: 550px) {
  nav ul {
    flex-direction: column;
  }
}

@media screen and (max-width: 370px) {
  .footer-links {
    flex-direction: column;
  }
}

@media screen and (max-width: 410px) {
  .footerText {
    flex-shrink: auto;
  }
}
@media screen and (max-width: 410px) {
  .Pricingbutton {
    flex-direction: column;
  } */
}
@media screen and (max-width: 410px) {
  .MaxPatch-text {
    line-height: 2;
  }
}
@media screen and (min-width: 1300px) {
  .MaxPatch-text {
    line-height: 3;
  }
}
